body {
    font-family: 'Slabo 27px', serif;
    padding: 0;
    margin: 0;
}

label {
    width: 160px;
    float: left;
}

#header {
    padding: 8px 16px;
    background-color: #44929f;
    color: white;
}

#content {
    padding: 8px 16px;
}

input[type="text"], input[type="password"], select, option, textarea {
    width: 150px;
}

a {
    color: #005b96;
}

#sent {
    border: 3px solid #7bc043;
    background-color: #3D6021;
    padding: 16px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 400px;
    top: 240px;
    display: none;
}

.mono {
    font-family: "Andale Mono", AndaleMono, monospace;
}
