<!doctype html>
<html>
<head>
</head>
<body>
<form id="registration">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <br />
    <label for="secret">Secret:</label>
    <input type="password" name="secret" id="secret" />
    <br />
    <input type="submit" />
</form>
<div id="errors">
    <ul></ul>
</div>
<script src="static/js/zepto.min.js" type="text/javascript"></script>
<script src="static/js/zepto.callbacks.js" type="text/javascript"></script>
<script src="static/js/zepto.deferred.js" type="text/javascript"></script>
<script src="static/js/scripts.js" type="text/javascript"></script>
</body>
</html>
