{% extends "layout.html" %}
{% block title %}Register new user{% endblock %}
{% block header %}Register{% endblock %}
{% block body %}
<form id="registration">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <br />
    <label for="secret">Secret:</label>
    <input type="password" name="secret" id="secret" />
    <br />
    <input type="submit" />
</form>
<p>Already a user? <a href="login">Log in</a> to your account</p>
<div id="errors">
    <ul></ul>
</div>
{% endblock %}
